{% autoescape None %}
<div class="row">
<div class="post span12">
	<div style="margin-left: 5px"><b><a onClick="appendId({{post['id']}})">№{{post['id']}}</a></b> | {{post['name']}} | {{post['pub_date']}}<div style="float: right; margin-right: 5px"><input type="checkbox" value="{{post['id']}}" form="delete_post" name="post"></div><div class="hr"></div></div>
	{% if post['picture'] %}<a href="{{post['picture']}}"><img src="{{post['thumb']}}" style="float: left; padding: 5px; padding-bottom: 4px; border-radius: 7px"></a>{% end %}
	<p style="padding-left: 2px; padding-right: 2px">{{post['message']}}</p>
</div>
</div>
<div class="clear"></div>
