<!DOCTYPE html>
<html>
<head>
<title>Mikotoboard - Панель Управления</title>
<link rel="stylesheet" href="/styles/bootstrap.css">
<link rel="stylesheet" href="/styles/style.css">
<style>
.frame {
	border: 1px;
	padding: 5px;
	margin-bottom: 10px;
	border-style: solid;
	border-radius: 5px;
	border-color: #eee;
}
</style>
<link rel="stylesheet" href="/styles/bootstrap-responsive.css">
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="/" class="brand">Mikotoboard</a>
			<div class="pull-right">
				<span class="brand">Управление бордой</span>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3 visible-tablet">
			<ul class="nav nav-list well" id="Navigation">
				<li><a href="users"><i class="icon-user"></i> Пользователи</a></li>
				<li class="active"><a href="bans"><i class="icon-ban-circle"></i> Баны</a></li>
				<li><a href="news"><i class="icon-bullhorn"></i> Новости</a></li>
				<li><a href="boards"><i class="icon-list-alt"></i> Разделы</a></li>
				<li><a href="threads"><i class="icon-folder-close"></i> Треды</a></li>
				<li><a href="posts"><i class="icon-file"></i> Посты</a></li>
				<li><a href="stats"><i class="icon-tasks"></i> Статистика</a>
				<li><a href="wipe"><i class="icon-fire"></i> Сброс Доски</a>
			</ul>
		</div>
		<div class="span2 visible-desktop">                                                        	
    		<ul class="nav nav-list well" id="Navigation">                                         	
    			<li><a href="users"><i class="icon-user"></i> Пользователи</a></li>	
   	 			<li class="active"><a href="bans"><i class="icon-ban-circle"></i> Баны</a></li> 	
				<li><a href="news"><i class="icon-bullhorn"></i> Новости</a></li>
    			<li><a href="boards"><i class="icon-list-alt"></i> Разделы</a></li>	
    			<li><a href="threads"><i class="icon-folder-close"></i> Треды</a></li>	
    			<li><a href="posts"><i class="icon-file"></i> Посты</a></li>  	
    			<li><a href="stats"><i class="icon-tasks"></i> Статистика</a>	
    			<li><a href="wipe"><i class="icon-fire"></i> Сброс Доски</a>	
    		</ul>                                                                                  	
		</div>
		<div class="span1 visible-phone">
			<ul class="nav nav-list well" id="Navigation">
				<li><a href="users"><i class="icon-user"></i> Пользователи</a></li>
	 			<li class="active"><a href="bans"><i class="icon-ban-circle"></i> Баны</a></li>
				<li><a href="news"><i class="icon-bullhorn"></i> Новости</a></li>
				<li><a href="boards"><i class="icon-list-alt"></i> Разделы</a></li>
				<li><a href="threads"><i class="icon-folder-close"></i> Треды</a></li>
				<li><a href="posts"><i class="icon-file"></i> Посты</a></li>
				<li><a href="stats"><i class="icon-tasks"></i> Статистика</a>
				<li><a href="wipe"><i class="icon-fire"></i> Сброс Доски</a>
			</ul>
		</div>
		<div class="span9">
			<h2>Новый Пользователь</h2>
			<form action="/admin/" method="post" id="new_ban">
				<input type="hidden" name="type" value="new_ban">
				<input type="text" class="input-xlarge" name="ip" placeholder="ip">
				<input type="text" class="input-xlarge" name="reason" placeholder="Причина">
				<div class="alert fade in hide" id="alert_new_ban">
					<button type="button" class="close" onClick="close_alert('alert_new_ban')">x</button>
					<strong>Ошибка!</strong> Пожалуйста, укажите IP
				</div>
				<div class="pull-right">
					<button type="button" class="btn btn-success" onClick="check_ip('new_ban')">Забанить</button>
				</div>
			</form>
			{% for ban in bans %}
				<div class="frame">
					<b>ip:</b> {{ban['ip']}} | <i class="icon-time" id="tooltip" rel="tooltip" title="{{ban['date']}}"></i> | <b>Причина:</b> {{ban['reason']}}
					<div class="pull-right">
						<input type="checkbox" value="{{ban['ip']}}" form="lift_bans" name="ip">
						<i class="icon-ok-circle"></i>
					</div>
				</div>
			{% end %}
			<div class="alert fade in hide" id="alert_delete">
				<button type="button" class="close" onClick="close_alert('alert_delete')">x</button>
				<strong>Ошибка!</strong> Выберите хотя-бы одного пользователя для удаления
			</div>
			{% if bans.count() != 0 %}
				<div class="pull-right">
					<form id="lift_bans" action="/admin/" method="post">
						<input type="hidden" name="type" value="lift_bans">
						<input type="button" class="btn btn-warning" value="Снять бан" onClick="check()">
					</form>
				</div>
			{% end %}
		</div>
	</div>
</body>
<script src="/styles/js/jquery.js"></script>
<script src="/styles/js/bootstrap-alert.js"></script>
<script src="/styles/js/bootstrap-tab.js"></script>
<script src="/styles/js/bootstrap-button.js"></script>
<script src="/styles/js/bootstrap-transition.js"></script>
<script src="/styles/js/bootstrap-tooltip.js"></script>
<script src="/styles/js/bootstrap-collapse.js"></script>
<script>
	function check(){
		checked = false;
		for(x=0; x<document.getElementsByName('ip').length; x++){
			if(document.getElementsByName('ip')[x].checked==true){
				checked = true
			}
		}
		if(checked==false){
			$('#alert_delete').show();
		}
		if(checked==true){
			document.forms['lift_bans'].submit();
		}
	}
	function close_alert(alert_id){
		$('#'+alert_id).hide()
	}
	function check_ip(form_id) {
		ip = document.forms[form_id]['ip']['value'];
		if(ip == ""){
			$('#alert_' + form_id).show();
		}
		else{
			document.forms[form_id].submit();
		}
	}
	$('#tooltip').tooltip()
	$(".collapse").collapse({toggle: false});
</script>
