<!DOCTYPE html>
<html>
<head>
<title>Mikotoboard - Панель Управления</title>
<link rel="stylesheet" href="/styles/bootstrap.css">
<link rel="stylesheet" href="/styles/style.css">
<style>
.frame {
	border: 1px;
	padding: 5px;
	margin-bottom: 10px;
	border-style: solid;
	border-radius: 5px;
	border-color: #eee;
}
</style>
<link rel="stylesheet" href="/styles/bootstrap-responsive.css">
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="/" class="brand">Mikotoboard</a>
			<div class="pull-right">
				<span class="brand">Управление бордой</span>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3 visible-tablet">
			<ul class="nav nav-list well" id="Navigation">
				<li><a href="users"><i class="icon-user"></i> Пользователи</a></li>
				<li><a href="bans"><i class="icon-ban-circle"></i> Баны</a></li>
				<li><a href="news"><i class="icon-bullhorn"></i> Новости</a></li>
				<li><a href="boards"><i class="icon-list-alt"></i> Разделы</a></li>
				<li class="active"><a href="threads"><i class="icon-folder-close"></i> Треды</a></li>
				<li><a href="posts"><i class="icon-file"></i> Посты</a></li>
				<li><a href="stats"><i class="icon-tasks"></i> Статистика</a>
				<li><a href="wipe"><i class="icon-fire"></i> Сброс Доски</a>
			</ul>
		</div>
		<div class="span2 visible-desktop">                                                        	
    		<ul class="nav nav-list well" id="Navigation">                                         	
    			<li><a href="users"><i class="icon-user"></i> Пользователи</a></li>	
   	 			<li><a href="bans"><i class="icon-ban-circle"></i> Баны</a></li> 	
				<li><a href="news"><i class="icon-bullhorn"></i> Новости</a></li>
    			<li><a href="boards"><i class="icon-list-alt"></i> Разделы</a></li>	
    			<li class="active"><a href="threads"><i class="icon-folder-close"></i> Треды</a></li>	
    			<li><a href="posts"><i class="icon-file"></i> Посты</a></li>  	
    			<li><a href="stats"><i class="icon-tasks"></i> Статистика</a>	
    			<li><a href="wipe"><i class="icon-fire"></i> Сброс Доски</a>	
    		</ul>                                                                                  	
		</div>
		<div class="span1 visible-phone">
			<ul class="nav nav-list well" id="Navigation">
				<li><a href="users"><i class="icon-user"></i> Пользователи</a></li>
	 			<li><a href="bans"><i class="icon-ban-circle"></i> Баны</a></li>
				<li><a href="news"><i class="icon-bullhorn"></i> Новости</a></li>
				<li><a href="boards"><i class="icon-list-alt"></i> Разделы</a></li>
				<li class="active"><a href="threads"><i class="icon-folder-close"></i> Треды</a></li>
				<li><a href="posts"><i class="icon-file"></i> Посты</a></li>
				<li><a href="stats"><i class="icon-tasks"></i> Статистика</a>
				<li><a href="wipe"><i class="icon-fire"></i> Сброс Доски</a>
			</ul>
		</div>
		<div class="span9">
			{% for thread in threads %}
				<div class="frame">
					<b>id:</b> {{thread['id']}} | <i class="icon-time"></i> {{thread['last_post']}}
					<div class="pull-right">
						<input type="checkbox" name="thread" form="remove_threads" value="{{thread['id']}}"><i class="icon-trash"></i>
					</div>
				</div>
			{% end %}
			<div class="alert fade in hide">
				<button type="button" class="close" onClick="close_alert()">x</button>
				<strong>Ошибка!</strong> Выберите хотя-бы один тред для удаления
			</div>
			<div class="pull-right">
				<form id="remove_threads" action="/admin/" method="post">
					<input type="hidden" name="type" value="remove_threads">
					<input type="button" class="btn btn-warning" value="Удалить Тред" onClick="check()">
				</form>
			</div>
		</div>
	</div>
</body>
<script src="/styles/js/jquery.js"></script>
<script src="/styles/js/bootstrap-alert.js"></script>
<script src="/styles/js/bootstrap-tab.js"></script>
<script src="/styles/js/bootstrap-button.js"></script>
<script src="/styles/js/bootstrap-transition.js"></script>
<script src="/styles/js/bootstrap-collapse.js"></script>
<script>
	function check(){
		checked = false
		for(x=0; x<document.getElementsByName('thread').length; x++){
			if(document.getElementsByName('thread')[x].checked==true){
				checked = true
			}
		}
		if(checked==false){
			$('.alert').show()
		}
		if(checked==true){
			document.forms['remove_threads'].submit();
		}
	}
	function close_alert(){
		$('.alert').hide()
	}
	$(".collapse").collapse({toggle: false});
</script>
