<!DOCTYPE html>
<html>
<head>
<title>Mikotoboard - Панель Управления</title>
<link rel="stylesheet" href="/styles/bootstrap.css">
<link rel="stylesheet" href="/styles/style.css">
<style>
.frame {
	border: 1px;
	padding: 5px;
	margin-bottom: 10px;
	border-style: solid;
	border-radius: 5px;
	border-color: #eee;
}
</style>
<link rel="stylesheet" href="/styles/bootstrap-responsive.css">
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="/" class="brand">Mikotoboard</a>
			<div class="pull-right">
				<span class="brand">Управление бордой</span>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3 visible-tablet">
			<ul class="nav nav-list well" id="Navigation">
				<li class="active"><a href="users"><i class="icon-user"></i> Пользователи</a></li>
				<li><a href="bans"><i class="icon-ban-circle"></i> Баны</a></li>
				<li><a href="news"><i class="icon-bullhorn"></i> Новости</a></li>
				<li><a href="boards"><i class="icon-list-alt"></i> Разделы</a></li>
				<li><a href="threads"><i class="icon-folder-close"></i> Треды</a></li>
				<li><a href="posts"><i class="icon-file"></i> Посты</a></li>
				<li><a href="stats"><i class="icon-tasks"></i> Статистика</a>
				<li><a href="wipe"><i class="icon-fire"></i> Сброс Доски</a>
			</ul>
		</div>
		<div class="span2 visible-desktop">                                                        	
    		<ul class="nav nav-list well" id="Navigation">                                         	
    			<li class="active"><a href="users"><i class="icon-user"></i> Пользователи</a></li>	
   	 			<li><a href="bans"><i class="icon-ban-circle"></i> Баны</a></li> 	
				<li><a href="news"><i class="icon-bullhorn"></i> Новости</a></li>
    			<li><a href="boards"><i class="icon-list-alt"></i> Разделы</a></li>	
    			<li><a href="threads"><i class="icon-folder-close"></i> Треды</a></li>	
    			<li><a href="posts"><i class="icon-file"></i> Посты</a></li>  	
    			<li><a href="stats"><i class="icon-tasks"></i> Статистика</a>	
    			<li><a href="wipe"><i class="icon-fire"></i> Сброс Доски</a>	
    		</ul>                                                                                  	
		</div>
		<div class="span1 visible-phone">
			<ul class="nav nav-list well" id="Navigation">
				<li class="active"><a href="users"><i class="icon-user"></i> Пользователи</a></li>
	 			<li><a href="bans"><i class="icon-ban-circle"></i> Баны</a></li>
				<li><a href="news"><i class="icon-bullhorn"></i> Новости</a></li>
				<li><a href="boards"><i class="icon-list-alt"></i> Разделы</a></li>
				<li><a href="threads"><i class="icon-folder-close"></i> Треды</a></li>
				<li><a href="posts"><i class="icon-file"></i> Посты</a></li>
				<li><a href="stats"><i class="icon-tasks"></i> Статистика</a>
				<li><a href="wipe"><i class="icon-fire"></i> Сброс Доски</a>
			</ul>
		</div>
		<div class="span9">
			<h2>Новый Пользователь</h2>
			<form action="/admin/" method="post" id="new_user">
				<input type="hidden" name="type" value="new_user">
				<input type="text" class="input-xlarge" name="username" placeholder="Имя пользователя"><br>
				<input type="text" class="input-xlarge" name="pass" placeholder="Пароль">
				<input type="text" class="input-Xlarge" name="check_pass" placeholder="Повторите пароль"><br>
				<input type="radio" name="role" value="admin"> Админ |
				<input type="radio" name="role" value="moderator"> Модератор
				<div class="alert fade in hide" id="alert_new_user">
					<button type="button" class="close" onClick="close_alert('alert_new_user')">x</button>
					<strong>Ошибка!</strong> Пароли не совпадают
				</div>
				<div class="pull-right">
					<button type="button" class="btn btn-success" onClick="check_pwd('new_user')">Создать Пользователя</button>
				</div>
			</form>
			{% for user in users %}
				<div class="frame">
					<a href="#" data-target="#{{user['username']}}" data-toggle="collapse">{{user['username']}}</a> | {{user['role']}}
					<div class="pull-right">
						<input type="checkbox" value="{{user['username']}}" name="user" form="remove_users"><i class="icon-trash"></i>
					</div>
					<div class="collapse" id="{{user['username']}}">
						<form action="/admin/" method="post" id="form_{{user['username']}}">
							<input type="hidden" value="mod_user" name="type">
							<input type="hidden" value="{{user['username']}}" name="user">
							<input type="text" placeholder="Новый пароль" name="pass" value="">
							<input type="text" placeholder="Повторите новый пароль" name="check_pass">
							<br>
							<input  type="radio" value="admin" name="role"> Админ |
							<input  type="radio" value="moderator" name="role"> Модератор
							<div class="alert fade in hide" id="alert_form_{{user['username']}}">
								<button type="button" class="close" onClick="close_alert('alert_form_{{user['username']}}')">x</button>
								<strong>Ошибка!</strong> Пароли не соответствуют
							</div>
							<div class="pull-right">
								<button type="button" class="btn" onClick="check_pwd('form_{{user['username']}}')">Изменить Пользователя</button>
							</div>
						</form>
					</div>
				</div>
			{% end %}
			<div class="alert fade in hide" id="alert_delete">
				<button type="button" class="close" onClick="close_alert('alert_delete')">x</button>
				<strong>Ошибка!</strong> Выберите хотя-бы одного пользователя для удаления
			</div>
			<div class="pull-right">
				<form id="remove_users" action="/admin/" method="post">
					<input type="hidden" name="type" value="remove_users">
					<input type="button" class="btn btn-warning" value="Удалить" onClick="check()">
				</form>
			</div>
		</div>
	</div>
</body>
<script src="/styles/js/jquery.js"></script>
<script src="/styles/js/bootstrap-alert.js"></script>
<script src="/styles/js/bootstrap-tab.js"></script>
<script src="/styles/js/bootstrap-button.js"></script>
<script src="/styles/js/bootstrap-transition.js"></script>
<script src="/styles/js/bootstrap-collapse.js"></script>
<script>
	function check(){
		checked = false
		for(x=0; x<document.getElementsByName('user').length; x++){
			if(document.getElementsByName('user')[x].checked==true){
				checked = true
			}
		}
		if(checked==false){
			$('#alert_delete').show()
		}
		if(checked==true){
			document.forms['remove_users'].submit();
		}
	}
	function close_alert(alert_id){
		$('#'+alert_id).hide()
	}
	function check_pwd(form_id) {
		pwd = document.forms[form_id]['pass']['value']
		pwd_check = document.forms[form_id]['check_pass']['value']
		if(pwd=="", pwd_check == ""){
			document.forms[form_id].submit()
		}
		else if(pwd == pwd_check){
			document.forms[form_id].submit()
		}
		else if(pwd != pwd_check){
			$('#alert_'+form_id).show()
		}
	}
	$(".collapse").collapse({toggle: false});
</script>
